<% if policy(current_user).show? %>

<h1>Profile of <%= @user.username %></h1>
<h2>email: <%= @user.email %></h2>

<%= form_with url: "/users/#{}/new_chat", method: :get do |f| %>
  <%= f.label :username, "username" %>
  <%= f.text_field :username %>
  <%= f.submit "Enter" %>
<% end %>

<h3>Your chatrooms</h3>

<br>

<% if @previews.empty? %>
  <h4>You don't seem to have any friends...</h4>
<% else %>
  <% @previews.each do |prev|%>
    <%= "----------" %>
      <strong><%= link_to prev[:user].username.capitalize, chatroom_path(prev[:room]), style: "text-decoration: none;" %></strong>
      <%= prev[:last_message] %>
    <%= "----------" %>
  <% end %>
<% end %>

<% end %>
