<% if policy(current_user).show? %>

<h1>Profile of <%= @user.username %></h1>
<h2>email: <%= @user.email %></h2>

<div class="new-chat">
  <h3>Start a new conversation</h3>
  <%= form_with url: chatrooms_path, method: :post do |f| %>
    <%= f.label :username, "username" %>
    <%= f.text_field :username %>
    <%= f.submit "Enter" %>
<% end %>
</div>

<h3>Your chatrooms</h3>

<br>

<% if @previews.empty? %>
  <h4>You don't seem to have any friends...</h4>
<% else %>
  <% @previews.each do |prev|%>
    <%= "----------------------------------------------------" %> <br>
      <strong><%= link_to prev[:user].username, chatroom_path(prev[:room]), style: "text-decoration: none;" %></strong> <br>
      <%= prev[:last_message].nil? ? "no messages" : prev[:last_message].content  %> <br>
    <%= "-----------------------------------------------------" %>
  <% end %>
<% end %>

<% end %>
